$content-size: 1180px;
$navbar-height: 90px;
$footer-height: 60px;
$searchbar-height: 114px;

// responsive breakpoints

$laptop-break: 1330px;
$tablet-break: 1240px;
$mobile-break: 900px;
$min-mobile-break: 320px;
